@import "tailwindcss";
html,
body {
  scroll-behavior: smooth;
  font-family: font-poppins;
  overflow-x: hidden;
  background-color: #020617; /* نفس لون الـ bg-slate-950 بتاعك */
  color-scheme: dark;
}

@font-face {
  font-family: "DGAsca";
  src: url("./assets/fonts/DG-Aqsa-italic.ttf") format("truetype");
}

@theme {
  --font-DGAsca: "DGAsca", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-code: "Fira Code", monospace;
  --bg-main-gradient: linear-gradient(
    135deg,
    #c084fc 0%,
    #a78bfa 50%,
    #67e8f9 100%
  );
}

:root {
  --primary: #c084fc;
  --secondary: #57379c;

  /* Background Color */
  --bg-primary: #020617;
  --bg-secondary: #1e293b;
  --header-bg: #020617;

  /* Borders */
  --border: rgba(63, 63, 70, 0.4);

  /* Text Color */
  --text-main: rgb(255, 255, 255);
  --text-primary: white;
  --text-secondary: #94a3b8;
  --text-title: rgb(203, 213, 225);
  --text-subtitle: rgba(159, 159, 169, 0.8);
  --social-icons: black;

  /* Background Cards */
  --bg-card: rgb(255, 255, 255, 0.05);
  --nav-bg: white;
  /* =================================== */

  --gradient-1: linear-gradient(135deg, #c084fc 0%, #a78bfa 50%, #67e8f9 100%);
  --gradient-2: linear-gradient(135deg, #67e8f9 0%, #a78bfa 50%, #fbbf24 100%);
  --gradient-3: linear-gradient(135deg, #86efac 0%, #67e8f9 100%);
}
.light {
  --primary: #7e22ce;

  /* Background Color */
  --bg-primary: #fff;
  /* --bg-primary: #d6d6d6; */
  --bg-secondary: #f8fafc;
  --header-bg: #f5f5f5;

  /* Borders */
  --border: rgba(202, 202, 202, 0.518);

  /* Text Color */
  --text-main: rgb(74, 85, 101);
  --text-primary: black;
  --text-secondary: #768293;
  --text-title: rgb(0, 0, 0);
  --text-subtitle: rgba(159, 159, 169, 0.8);
  --social-icons: white;

  /* Background Cards */
  --nav-bg: black;
  --bg-card: rgb(0, 0, 0, 0.05);

  --gradient-1: linear-gradient(135deg, #9333ea 0%, #7c3aed 50%, #0891b2 100%);
}

@utility text-gradient {
  background: var(--bg-main-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

/* Icon - Spin & Rotate */
@keyframes spin-once {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(-180deg) scale(1.25);
  }

  100% {
    transform: rotate(-360deg) scale(1);
  }
}

.animate-spin-once {
  animation: spin-once 1.5s ease-in-out forwards;
}

@keyframes rotate-once {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate-once {
  /* 2s هي سرعة اللفة، تقدر تخليها 3s لو عايزها أهدى */
  animation: rotate-once 1.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

/* Grid - Background */

.code-grid-bg {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(var(--primary) 1px, transparent 1px),
    linear-gradient(90deg, var(--primary) 1px, transparent 1px);
  background-size: 50px 50px;
  opacity: 0.05;
  animation: gridMove 20s linear infinite;
}

@keyframes gridMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px);
  }
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.8;
  }
}

@keyframes scrollWheel {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.text-gradient {
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Floating-Badge */

@keyframes floatBadge {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.floating-badge {
  animation: floatBadge 3s ease-in-out infinite;
}
/* الحركة للأسفل */
@keyframes particleFall {
  0% {
    transform: translateY(0vh) rotate(0deg);
    opacity: 0;
  }
  10%,
  90% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0;
  }
}

/* الحركة للأعلى */
@keyframes particleRise {
  0% {
    transform: translateY(0vh) rotate(0deg);
    opacity: 0;
  }
  10%,
  90% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-120vh) rotate(-360deg);
    opacity: 0;
  }
}

.animate-particle-fall {
  animation: particleFall linear infinite;
}

.animate-particle-rise {
  animation: particleRise linear infinite;
}
